


@font-face  {font-family:  EBGaramond;
                   src: url('font/EBGaramond.ttf') format('truetype');}
               
@font-face  {font-family:   EBGaramond-Italic-VariableFont_wght;
               src: url('font/ EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');}                             
               
                  

    

.author{font-family: EBGaramond;
        font-size: 30px;
        margin-left:45%;
        margin-top:40%;
        text-transform: uppercase;
        font-weight: 800;

         
        }

.title{font-family: EBGaramond-Italic-VariableFont_wght;
        font-size: 55px;
        margin-left:44%;
        
        }

.curator{border: solid 2px black;
        color: F29159;
        padding-top: 10%;
        margin-top: -97%;
        padding-bottom: 251%;
        padding-right: 156.5%;
        margin-left: 15%;
        font-size: 0px;}

.introduction{
border:solid 2px black;
color: F29159;
padding-top:70%;
margin-top: -240%;
padding-bottom:46%;
padding-right:147%;
margin-left:20%;
font-size: 0px;
}

.specification{border: solid 2px black;
        color: F29159;
        padding-top: 10%;
        margin-top: 1%;
        padding-bottom: 103%;
        padding-right: 147%;
        margin-left: 20%;
        font-size: 0px;}


.text-cover{
    position: absolute; 
        white-space: nowrap;
        color:black;
        justify-content: center;
     
        }

.logo{content: url(img/logo-adelphi.png);
        position: absolute;
        width: 70%;
        margin-top:-125%;
        margin-left: 10%;
            
        }

.cover-img{background-image: url(img/img-adelphi.jpg);
        background-size:75% 40%;
        background-repeat: no-repeat;
     
        background-position: center 90%;
        background-color: F29159;
        
        
        
        }


/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .text-cover{padding-right:12%;}
     
                                                 } 

@media (max-width: 600px){.decoration{height:9.1%;}
.text-cover{padding-right:12%;}
     
                                                }

                                        
 @media only screen and (min-width: 1200px) and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {.decoration{height:11.4%;
                                                        margin-top:-1.4%;}
                                           .author{font-size: 42px;
                                                }
                                                        
                                            .title{font-size: 40px;}                                                        
         
                                                }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){.decoration{height:9.3%;
        margin-top:1%;}}


 