
.book-cover{
  width: 750px;
  position: absolute;
  margin-top:3%;
  margin-bottom: 3%;
  margin-left: 24%;
  margin-right: 20%;}      
  /*useful properties to maintain fixed dimensions */
  


.cover-img{width:17.78cm;
          height: 25.4cm;}
 /*dimension of the paper book cover */

/* ----------- Kindle Fire HD da 8'' 8.9" 10', 13''----------- */
@media only screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {.cover-img{width:90%;
                                                         }
                                             .book-cover{ margin-top:8%;
                                                          margin-left: 27%;
                                                          }
                                            }


/* -----------  big landscape tablets: 12.9", laptops, and desktops  ----------- */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) { .cover-img {width:90%;
                                                        }
                                            .book-cover{margin-top:5%;
                                                        margin-left: 16%;
                                                        margin-right: 5%;

                                                      }

                                          }


/* Extra small devices (phones, 600px and down) Most of the Smartphones Mobiles (Portrait) */
@media only screen and (max-width: 600px) { .cover-img {width:100%;
                                                        }

                                            .book-cover{margin-top:30%;
                                                        margin-left: 8%;
                                                        margin-right: auto;
                                                        }
                                          }

                                          
/* Medium devices (landscape tablets, 768px and up)  Media Query for  small Tablets, 9.7'' 10.2', 10.5''  and kindle of 6'', 7'', */ 
@media only screen and (max-width: 768px) {.cover-img{text-align:center;
                                                      width:90%;
                                                    }

                                          .book-cover{margin-top: 19%;
                                                    margin-left: 13%;
                                                    margin-right:auto;
                                                     }
                                           }






