@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}

@font-face 
{font-family: OpenSans-Regular;
                src: url('font/OpenSans-Regular.ttf') format('truetype');}

 @font-face 
 {font-family: OpenSans-SemiBold;
                src: url('font/OpenSans-SemiBold.ttf') format('truetype');}



.decoration{position: absolute; 
        content: url(img/feltrinelli-decoration.png);
        width: auto;
        height: 9.3%;
        margin-top:-3.2%;

}        

.author{font-family: OpenSans-Regular;
        font-size: 38px;
        text-transform: uppercase;
        }

.title{font-family: OpenSans-SemiBold;
        font-size: 35px;
        margin-top: -10%;
        }

.curator{display: none;}
.introduction{display: none;}

.text-cover{position: absolute; 
        white-space: nowrap;
        margin-top:6%;
        margin-left:10%;
        color:white;
        }

.logo{content: url(img/logo-feltrinelli.png);
        position: absolute;
        background-size: 60% 60%;
        margin-top:-100%;
        margin-left:6%;
    
        }

.cover-img{background-image: url(img/feltrinelli2.png);
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-color:c31f20;
        background-position: center 100%;
        
        }


/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .logo{margin-top:-100%;
                                                         width:28%;              
                                                         }
                                                   .decoration{height:9.1%;
                                                                margin-top:-3.4%;}
     
                                                 } 

@media(min-width: 280px) and (max-width: 600px){.decoration{height:9.87%;}
                                                .logo{width:30%;}
                                                }


 