@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}


.decoration{display: none;}        

.author{font-family: BodoniFLF-BoldItalic;
        font-size: 1.87em;
        text-align: center;
        }

.title{font-family: BodoniFLF-Bold;
       font-size:  3.12em;
       margin-top: -1em;  
       text-align: center; 
       }

.curator{display: none;}
.introduction{display: none;}
.specification{display: none;}

.text-cover{position: absolute; 
            white-space: nowrap;
            margin-top: 57%; 
            margin-left: 23%;
            color:#D15353;
           }

.logo{content: url(img/logo.png);
      position: absolute;
      margin-top:-15%;   
      margin-left:70%; 
      width:10%;
    }

.cover-img{background-image: url(img/promessi-sposi-cover.png);
          text-align:center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
           }


/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .author{font-size:2.18em ;}
     
                                                 } 

@media (max-width: 760px){.decoration{height:9.1%;}
                          .author{font-size:2.18em;}
                          .text-cover {margin-left: 25%;
                                font-size: 1.2em;
                                margin-top: 55%;}    
                        .logo{ margin-left: 75%;
                                width: 17%;
                                margin-top: -19%;}                  
                         }

 