/* copertina Einaudo seguendo lo stile dei Milleni con lo stile del 1984 */ 
@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}

@font-face 
{font-family: OpenSans-Regular;
                src: url('font/OpenSans-Regular.ttf') format('truetype');}

 @font-face 
 {font-family: OpenSans-SemiBold;
                src: url('font/OpenSans-SemiBold.ttf') format('truetype');}


@font-face  {font-family:  EBGaramond;
                   src: url('font/EBGaramond.ttf') format('truetype');}
               
                              
               

.decoration{position: absolute; 
        content: url(img/deco-Einaudi.jpg);
        width: 30vmax;
        height: 20vmax;
        margin-top:10%;
        margin-left:10.5vmax;
        border:solid;
        border-color: red;

}        

.author{
        font-size: 35px;
        
        }

.title{
        font-size: 35px;
        margin-top: -2vmax;
        }

.curator{display: none;}
.introduction{display: none;}
.specification{display: none;}

.text-cover{font-family:OpenSans-Regular;
    position: absolute; 
        white-space: nowrap;
       margin-top:45%;
        text-align: center;
        color:black;
        margin-left:21%;
        text-transform: uppercase;
        }

.logo{content: url(img/logo-einaudi.png);
        position: absolute;
        width: 30%;
        margin-top:-25%;
        padding-left:225px;
        padding-right:228px;
        border-bottom: 2px solid black;
        border-top: 2px solid black ;
        padding-top: 0.5vmax;
        padding-bottom: 0.5vmax;
       
        }

.cover-img{
       
     
        background-color:white;
       border: solid black;
        
        
        }


/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .logo{margin-top:-13%;
                                                         width:28%;              
                                                         }
                                                   .decoration{}
     
                                                 } 

@media (max-width: 600px){.decoration{height:9.1%;}
                                                .logo{width:30%;
                                                margin-top:-13%;}
                                                }

                                        
 @media only screen and (min-width: 1200px) and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {.decoration{}
                                           .author{font-size: 42px;
                                                }
                                                        
                                            .title{font-size: 40px;}                                                        
         
                                                }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){.decoration{}


 