@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}

@font-face 
{font-family: OpenSans-Regular;
                src: url('font/OpenSans-Regular.ttf') format('truetype');}

 @font-face 
 {font-family: OpenSans-SemiBold;
                src: url('font/OpenSans-SemiBold.ttf') format('truetype');}


@font-face  {font-family:  EBGaramond;
                   src: url('font/EBGaramond.ttf') format('truetype');}
               
                              
               

    

.author{
        font-size: 40px;
        
        }

.title{
        font-size: 55px;

        }

.curator{margin-top:5%; 
        font-size:20px;
}
.introduction{font-size:20px;
margin-top:-5%;}
.specification{display:none;}


.text-cover{font-family:  EBGaramond;
    position: absolute; 
        white-space: nowrap;
       margin-top:6%;
        margin-left:25%;
        color:white;
        background-color: 90be6d;
        margin-top:0%;
        padding-right:15%;
        padding-left:5%;
        }

.logo{content: url(img/logo-mulino.png);
        position: absolute;
        width: 20%;
        margin-top:-7%;
        justify-content: left;
    
        }

.cover-img{background-image: url(img/img-mulino.png);
        background-size: 70% 60%;
        background-repeat: no-repeat;
        border: solid black;
        background-position: center 90%;
        
        
        
        }


/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .text-cover{padding-right:12%;}
     
                                                 } 

@media (max-width: 600px){.decoration{height:9.1%;}
.text-cover{padding-right:12%;}
     
                                                }

                                        
 @media only screen and (min-width: 1200px) and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {.decoration{height:11.4%;
                                                        margin-top:-1.4%;}
                                           .author{font-size: 42px;
                                                }
                                                        
                                            .title{font-size: 40px;}                                                        
         
                                                }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){.decoration{height:9.3%;
        margin-top:1%;}}


 