@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}





.book-cover{text-align: center;
            position: relative;
            margin-top:5%;
        }

.author{font-family: BodoniFLF-BoldItalic;
        font-size: 22px;
        text-align: center;      
        }

.title{font-family: BodoniFLF-Bold;
        font-size: 34px;
        margin-top: -35px;  
        text-align: center;    
        }

.text-cover{position: absolute; 
        white-space: nowrap;
        margin-top: 16.5%; 
        margin-left: 42%;
        color:FBE7BF;
        }

.logo{position: absolute;
        margin-top:32.5%;   
        margin-left:-6%; 
        width:60px;
        }

.cover-img{ text-align:center;
      width:  7.5cm;
height:13.3cm;}

/*media queries for viewing the book cover from devices smaller than a computer*/
@media (width:1024px){.text-cover{margin-left: 38%;
                                  margin-top: 22%;                   
                                  }

                      .logo{margin-top:44%;
                            margin-left:-9%; 
                            }
}
              
@media (max-width: 992px){ .text-cover{margin-left: 37%;
                                margin-top:23%;                   
                                      }

                          .logo{margin-top:45%;   
                                margin-left:-9%; 
                                }

 }


 /*media queries for printing the book cover */
@media print{.text-cover{color:white;
                         margin-left: 35%; 
                         margin-top:32%;                  
                        }
                .logo{margin-top:62%;
                      margin-left:-12%; 
                     }
}