@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}





.book-cover{text-align: center;
            margin-top:5%;
            width: 750px;
            position: absolute;
            margin-left: 20%;
	    margin-right: auto;
	    padding: 0px;
	/*useful properties to maintain fixed dimensions */
        }

.author{font-family: BodoniFLF-BoldItalic;
        font-size: 35px;
       
        text-align: center;      
        }

.title{font-family: BodoniFLF-Bold;
        font-size: 45px;
        margin-top: -30px;  
        text-align: center;    
        }

.text-cover{position: absolute; 
        white-space: nowrap;
        margin-top: 358px; 
        margin-left: 31%;
        color:beige;
        }

.logo{position: absolute;
        margin-top:94%;   
        margin-left:-16%; 
        width:80px;
        }

.cover-img{ text-align:center;
        width:512px; 
        height: 800px;
}


