@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}

 @font-face 
{font-family: FrankRuhlLibre-Black;
        src: url('font/FrankRuhlLibre-Black.ttf') format('truetype');}

 @font-face 
{font-family: FrankRuhlLibre-Light;
                src: url('font/FrankRuhlLibre-Light.ttf') format('truetype');}

@font-face 
        {font-family:Chonburi-Regular;
                src: url('font/Chonburi-Regular.ttf') format('truetype');}

 @font-face 
        {font-family:Coustard-Regular;
                        src: url('font/Coustard-Regular.ttf') format('truetype');}      


/*------------NAVBAR STYLE------------------------*/
.nav-link { 
        margin-right: 15px;
        color:1D7268;
        margin-top: 5px;
        margin-left:0px;
        margin-bottom: 0px;
        text-align: left;
    
        }
      

      #Sara {
        color:1D7268 !important; 
        margin-top:5px;
        margin-left:15px; 
        margin-right:15px; 
      }
      
      #final-dissertation{color:1D7268 !important; 
        margin-top:5px;
        text-align: right;
        margin-left:60%; }


      .navbar {
          background-color:F0C482; 
          font-family: Helvetica, Arial, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        letter-spacing: 2px;
        border-radius: 0px !important;
        margin-bottom: 0px !important;

        }

        #final-dissertation{text-align: right;}



/* per home page sezione 1*/
.copertina{margin-top:auto;
        padding-bottom: 5%;
        background-color:F0C482;
        text-align:center;}

.titolo{margin-top:-50px;

}

.titolo1{font-size: 50px;
        font-family: Chonburi-Regular;
        color:3AA494;}

.titolo2{font-size: 20px;
font-family: Coustard-Regular;
color:3AA494;
}

#sotto-titolo {margin-top:-1%;}

body{margin:0;
        
       
}



/* per home page-sezione 2*/
.contenitore{
        background-color:F4D5A4;
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        margin: 0;
        text-align:center;
        padding-top:8%;
        }


.titolo-sezione2{text-align:center;
padding-bottom:10%;}


    .griglia{ 
        margin-right:auto;
         margin-left:auto;
         margin-bottom: 8%;
}


.freccia{width:50px;
         margin-top: 10%;}

.panel__image.panel__image--book {
        display: flex;
        position: relative;

      
    }
     
    .books__book__img {
            width: 10px;
            max-width:100px;
            will-change: transform;
            transform-origin: 0 100%;
            transform: rotate(-10deg);
            transition: transform 0.3s ease-out;
    }

    #book-3D{margin-top:-30%;}

    #kindle{margin-top:-70%;}

    
    .books__book__img:hover {
        transform: rotate(0);
    }
    
    
    .books__book__image:hover {
        position: relative;
    }



    .container{
        width:800px;
        height:200px;
        line-height:200px;
        margin-left: -20%;
        
        }

        .container-2{
                width:800px;
                height:200px;
                line-height:200px;
                margin-top:40%;
                margin-left: -20%;
                
                }

        .sinistro, .destro {
                margin:0;
                padding:0;
                width:200px;
                height:200px;
                
               
                }

                .sinistro{float:left;
                margin-left:-18%;}

                .sinistro2{float:left;
                        margin-left:5%;
        }
        

                .destro{float:right;
                margin-right:10%;}

                .destro2{float:right;
                        margin-right:8%;}
        

                .caption1{font-size: 20px;
                        font-family: Coustard-Regular;
                        color:1D7268;
                        margin-left:100%;
                        margin-top: -40%;
                }

                .caption2{font-size: 20px;
                        font-family: Coustard-Regular;
                        color:1D7268;
                        margin-left:100%;
                        margin-top: -70%;
                }

                .caption3{font-size: 20px;
                        font-family: Coustard-Regular;
                        color:1D7268;
                        margin-left:140%;
                        margin-top: -100%;
                }

                .caption4{font-size: 20px;
                        font-family: Coustard-Regular;
                        color:1D7268;
                        margin-left:250%;
                        margin-top: -150%;
                
                }



.interruzione-freccia {text-align: center;
        background-color: F4D5A4;
margin-top:-20%;
margin-bottom: 5%;}


/*sezione 3*/

.sezione3{ background-color: F6DEB6;
padding-top:8%;
text-align: center;
padding-bottom: 20%;}

.drawing1{float:left;
        margin-left:20%;}

.drawing2{float:right;
         margin-right:15%;
        margin-top:3%;}

.drawing3{float:left;
        margin-left:20%;
               margin-top:3%;}

.drawing4{float:right;
         margin-right: 15%;
         margin-top:4%;}
       
.description1-sezione3{font-family: Coustard-Regular;
        color:black;
margin-top:10%;
margin-right:35%;
font-size:16px;}

.description2-sezione3{font-family: Coustard-Regular;
        color:black;
margin-top:15%;
margin-left:47%;
font-size:16px;}

.description3-sezione3{font-family: Coustard-Regular;
        color:black;
margin-top:13%;
margin-right:35%;
font-size:16px;}

.description4-sezione3{font-family: Coustard-Regular;
        color:black;
margin-top:15%;
margin-left:47%;
font-size:16px;}


/*media queries*/
@media (width:1024px){.griglia{ margin-bottom:110%;}
        
  .kindle {width: 350px;
                       
                     
}
.smartphone {width: 350px;} 
.tablet  {width: 350px;}
 .libro{width: 350px;}
.sinistro{float:left;
margin-left:-40%;}
.destro{float:right;
margin-right:-30%;}
.sinistro2{float:left;
        margin-left:-40%
        }
.destro2{float:right;
         margin-right: -20%;
         margin-top:12%;
        }
        
.container-2{ width:400px;
        height:400px;
        line-height:100px;
        margin-top:40%;
        margin-left: -10%;}

.caption1{
        margin-left:50%;
        margin-top: -50%;
        }

        .caption2{
                margin-left:50%;
                margin-top: -60%;
        }

        .caption3{
                margin-left:120%;
                margin-top:-70% ;
        }

        .caption4{
                margin-left:140%;
                margin-top: -30%;
        
        }
}
              
                @media (max-width: 992px){.griglia{ margin-bottom:100%;}
                        
                        
                        
                        .kindle {width: 500px;
                       
                     
                }
                .smartphone {width: 500px;} 
                .tablet  {width: 500px;}
                 .libro{width: 500px;}
                .sinistro{float:none;
                        margin-top:5%;
                margin-left: -1%;}
                .destro{float:none;
                        margin-left: 10%;
                margin-top:250px;}
                .sinistro2{float:none;
                        margin-left: 25%;
                margin-top:650px;}

                .destro2{float:none;
                         margin-left: 25%;
                        margin-top:250px;
                }
                        
                .container-2{ width:400px;
                        height:400px;
                        line-height:100px;
                        margin-top:40%;
                        margin-left: -10%;}

                .caption1{
                        margin-left:90%;
                        margin-top: -50%;
                        font-size:25px;
                        }

                        .caption2{
                                margin-left:90%;
                                margin-top: -70%;
                                font-size:25px;
                        }
        
                        .caption3{font-size:25px;
                                margin-left:40%;
                                margin-top:-20% ;
                        }
        
                        .caption4{font-size:25px;
                                margin-left:50%;
                                margin-top: -15%;
                        
                        }
        }


               /* @media (max-width: 767px){.kindle {width: 350px;
                       
                     
                }
                .smartphone {width: 350px;} 
                .tablet  {width: 350px;}
                 .libro{width: 350px;}
                .sinistro{float:none;
             
                margin-left: 15%;}
                .destro{float:none;
                        margin-left: 15%;
                margin-top:200px;}
                .sinistro2{float:none;
                        margin-left: 15%;
                margin-top:520px;}

                .destro2{float:none;
                         margin-left: 25%;
                        margin-top:250px;}
                        
                .container-2{ width:400px;
                        height:400px;
                        line-height:100px;
                        margin-top:40%;
                        margin-left: -10%;}

                .caption1{
                        margin-left:50%;
                        margin-top: -50%;
                        }

                        .caption2{
                                margin-left:50%;
                                margin-top: -60%;
                        }
        
                        .caption3{
                                margin-left:20%;
                                margin-top:-25% ;
                        }
        
                        .caption4{
                                margin-left:20%;
                                margin-top: -15%;
                        
                        }
        }*/