@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}

 @font-face 
{font-family: FrankRuhlLibre-Black;
        src: url('font/FrankRuhlLibre-Black.ttf') format('truetype');}

 @font-face 
{font-family: FrankRuhlLibre-Light;
                src: url('font/FrankRuhlLibre-Light.ttf') format('truetype');}

@font-face 
        {font-family:Chonburi-Regular;
                src: url('font/Chonburi-Regular.ttf') format('truetype');}

 @font-face 
        {font-family:Coustard-Regular;
                        src: url('font/Coustard-Regular.ttf') format('truetype');}      
  
body{max-width:100%;
        overflow-x: hidden;}
/*------------NAVBAR STYLE------------------------*/

      
#about{letter-spacing: 2px;
        margin-right: 0px;
        color:1D7268;
        margin-top: 6px;
        margin-left:50px;
        margin-bottom: 0px;
        text-align: left;
        white-space: nowrap;}

#Sara {color:1D7268 !important; 
        margin-top:6px;
        margin-left:15px; 
        margin-right:15px; 
        white-space: nowrap;
      }
      
#final-dissertation{color:1D7268 !important; 
                    margin-top:5px;
                    text-align: right;
                    margin-left:50%;
                    white-space: nowrap; }


.navbar {background-color:FDD692; 
        font-family: Helvetica, Arial, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        letter-spacing: 2px;
        border-radius: 0px !important;
        margin-bottom: 0px !important;
        color:1D7268;
        }

/* -------------------about-modal––––––––––––––––––––––––*/

.modal-title{font-family: Coustard-Regular;
             color:5D987D;}

.modal-content {font-family: Helvetica, Arial, sans-serif;   
                }

.button { 
        background-color:transparent;
        outline: none;
        border: none;
        color:1D7268; 
        }

.button:hover {color: #aeb0c8;
      } 

.modal-body {font-size: 8pt;
             color: black;
             font-family: Coustard-Regular;
         }




/* per home page sezione 1*/
.copertina{margin-top:auto;
        padding-bottom: 5%;
        background-color:FDD692;
        text-align:center;}

.titolo{margin-top:-50px;
       }

.titolo1{font-size: 50px;
        font-family: Chonburi-Regular;
        color:F18D3C;}

.titolo2{font-size: 20px;
        font-family: Coustard-Regular;
        color:5D987D;
        }

#sotto-titolo {margin-top:-1%;}

body{margin:0;}



/* per home page-sezione 2*/
.contenitore{
        background-color:FFF4C6;
        justify-content: center;
        font-size: 100%;
        padding-top:8%;
        margin:auto;
     
        }


.titolo-sezione2{text-align:center;
                margin-bottom:10%;
       }




.freccia{width:50px;
         margin-top: 26%;}


     
.books__book__img {width: 10px;
                max-width:100px;
                will-change: transform;
                transform-origin: 0 100%;
                transform: rotate(-10deg);
                transition: transform 0.3s ease-out;
                }





.interruzione-freccia {text-align: center;
                        background-color: FFF4C6;
                        margin-top:-10%;
                        padding-bottom:5%;
                        margin-bottom: 5%;}


/*sezione 3*/

.sezione3{ background-color: FDD692;
           padding-top:8%;
           margin-top:auto;
           text-align: center;
           padding-bottom: 5%;}


.drawing0{float: right;
        margin-right: 20%;
        width:300px;}

.drawing1 {float: left;
         margin-left: 20%;
         margin-top: 5%;
         width:300px;
          }

.drawing2{float: right;
        margin-right: 15%;
        margin-top: 3%;
        width:300px;}

.drawing3{float: left;
        margin-left: 20%;
        margin-top: 3%;
        width:320px;}

.drawing4{float: right;
        margin-right: 11%;
        margin-top: 6%;
        width:300px;}

.description0-sezione3{font-family: Coustard-Regular;
                         color: black;
                        margin-top: 20%;
                        margin-left: 10%;
                        font-size: 20px;
                        white-space:nowrap;
                      }        
       
.description1-sezione3{font-family: Coustard-Regular;
                        color: black;
                        margin-top: 45%;
                        margin-left: 10%;
                        font-size: 20px;
                      }

.description2-sezione3{font-family: Coustard-Regular;
                        color:black;
                        margin-top: 40%;
                        margin-left: 3%;
                        font-size: 20px;
                        white-space: nowrap;}

.description3-sezione3{font-family: Coustard-Regular;
                        color:black;
                        margin-top: 40%;
                        margin-left: 10%;
                        font-size: 20px;}

.description4-sezione3{font-family: Coustard-Regular;
                        color: black;
                        margin-top: 40%;
                        margin-left: 20%;
                        font-size: 20px;}

.description0-sezione3:hover {color: 5D987D;
                             }      

.description1-sezione3:hover {color: 5D987D;
                             }
.description2-sezione3:hover {color: 5D987D;
                              }

.description3-sezione3:hover {color: 5D987D;
                             }

.description4-sezione3:hover {color: 5D987D;
                             }


.nav * {
        box-sizing: border-box;
        transition: all .35s ease;
      }
      
      
.nav a {
        padding: .5em .8em;
        color: black;
        position: relative;
        text-decoration: none;
      }
.nav a::before,
.nav a::after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
      }
      
.nav a::before {
        content: '';
        right: 0;
        top: 0;
        border-top: 3px solid #5D987D;
        border-right: 3px solid  #5D987D;
        transform: translate(-100%, 50%);
      }
      
.nav a:after {
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 3px solid  #5D987D;
        border-left: 3px solid #5D987D;
        transform: translate(100%, -50%)
      }
      
.nav a:hover:before,
.nav a:hover:after{
        transform: translate(0,0);
        opacity: 1;
      }
      
.nav a:hover {
       color: #3DA35D;
      }


.sub-paragraph{font-size: 30px;
                font-family: Chonburi-Regular;
                color:3AA494;
                margin-top:15%;
                }

.sub-paragraph2{font-family: Coustard-Regular;}


.pre-scrollable { text-align:left;
                 margin-top:3%;
                margin-left: 10%;
                margin-right:10%;
                padding-bottom: 1%;
                background-color: black;
                }

.punctuaction{color:white;}
.linky {color: #FF6666;}
.rel{color: #a6e22e;}
.word{color: yellow;}

.image-example{width:300px;}

.image-example2{text-align:center;
               margin-left:-34%;
                width:300px;}

pre{text-align:justify;
    font-size:20px;}

/*sezione 4*/

.sezione4{ background-color: FFF4C6;
            padding-top:8%;
           text-align: center;}

.conclusion{font-family:FrankRuhlLibre-Light;
            padding-left: 10%;
            padding-right: 10%;
            font-size:18px;}

.contatti{padding-bottom:5%;
          box-align:center;}

.img-contatti{width:50px;
                }

.contatti2{font-family: Coustard-Regular;
           color:black;}




/*-----------------FOOTER STYLE-----------------*/
          
.footer { 
        position:static;
        left: 0;
        bottom:0;
        width: 100%;
        background-color:FDD692; 
        color: white;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        padding: 5px;
        letter-spacing: 2.5px;
        font-size: 11px;
        padding-top: 9px; 
        padding-bottom: 3px;
        height: auto !important; 
         }
              
    
 /*loghi del footer*/
.toindex {
          max-width: 100%;
          height: auto;
          width:30px;
          margin-top:0px;
          margin-bottom: 10px;
          filter: none;
          border: none;
          display: inline-block;
          margin-left: 15px;
          margin-right: 15px;
        } 
              
#logo-sito{width:65px;
           margin-top:1%;}
#logos{
        text-align: center;
        margin-bottom: -18px;
        margin-top:-18px;
      }
    
.copyright {
            background-color: FDD692;  
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 12px; 
            border: none; 
            color: 1D7268; 
            padding-left: 0px; 
            padding-right: 0px;
            }
                      
.copyright p{color:1D7268;
             font-size:10px;}
    
.foot-menu {
            cursor: pointer;
            font-size: 11px;
           }
  
.modal-body p{
             font-family: Helvetica, Arial, sans-serif;
              }
    
.modal-body a{
               font-family: Helvetica, Arial, sans-serif;
                color: black;
              }
    
         
              
/*media queries*/
@media (width:1024px){#final-dissertation{margin-left:35%;}
        
                     .griglia{ margin-bottom:110%;}
        
                     .kindle {width: 350px;}

                     .smartphone {width: 350px;} 
                     
                     .tablet  {width: 350px;}
 
                     .libro{width: 350px;}

                     .sinistro{float:left;
                                margin-left:-40%;}
                     
                     .destro{float:right;
                             margin-right:-30%;}

                    .sinistro2{float:left;
                               margin-left:-40%
                               }

                     .destro2{float:right;
                                margin-right: -20%;
                                margin-top:12%;
                             }
        
                      .container-2{ width:400px;
                                  height:400px;
                                  line-height:100px;
                                  margin-top:40%;
                                  margin-left: -10%;}

                       .caption1{
                                margin-left:50%;
                                margin-top: -50%;
                                }

                        .caption2{
                                 margin-left:50%;
                                 margin-top: -60%;
                                }

                        .caption3{
                                 margin-left:120%;
                                 margin-top:-70% ;
                                }

                        .caption4{
                                 margin-left:140%;
                                 margin-top: -30%;
        
                                }
                               
                        .description0-sezione3{white-space:normal;
                                        margin-left:-16%;
                                        margin-top: 32%;} 
                        .drawing1{margin-top:-67px;}
                        .description1-sezione3{margin-top:27%;
                                                margin-left:-17%;}
                        .drawing2{margin-right: 32%;
                                margin-top: -36%;}                            
                        .description2-sezione3{margin-top: 7%;
                                                margin-left: -8%;}
                       .drawing3{margin-top:-132;}
                       .description3-sezione3{margin-top: -5%;
                        margin-left: -39%;}
                        .drawing4{margin-right: 32%;
                                margin-top: -44%}
                        .description4-sezione3{    margin-top: 8%;
                                margin-left: 15%;}
                }
              
               

@media (max-width: 992px){ body{ overflow-x: hidden;}

                        #about{margin-left: -190%;
                             }

                        #final-dissertation{ margin-top:-5%;
                                             margin-left:74%; }

                        .griglia{ margin-bottom:80%;}
                        .kindle {width: 360px; }
                        .smartphone {width: 500px;
                                     margin-left:-485%;} 
                        .tablet {width: 500px;
                                margin-left:-450%;}
                        .libro{width: 400px;}
                        .sinistro{float:none;
                                  margin-top:5%;
                                  margin-left: -1%;}
                        .destro{float:none;
                                margin-left: 10%;
                                margin-top:270px;}
                        .sinistro2{float:none;
                                   margin-left: 25%;
                                   margin-top:690px;}
    
                        .destro2{float:none;
                                margin-left: 25%;
                                margin-top:270px;
                                }
                
                        .container-2{width:400px;
                                    height:400px;
                                    line-height:100px;
                                    margin-top:40%;
                                    margin-left: -10%;}
    
                        .caption1{
                                   margin-left:80%;
                                   margin-top: -50%;
                                   font-size:20px;
                                  }
    
                        .caption2{
                                   margin-left:47%;
                                   margin-top: -62%; 
                                   font-size:20px;
                                }
    
                        .caption3{font-size:20px;
                                  margin-left:2%;
                                  margin-top:-17%;
                                }
    
                        .caption4{font-size:20px;
                                  margin-left:13%;
                                  margin-top: -9%;                        
                                  }
    
                       .interruzione-freccia{margin:auto;
                                             margin-top:-30%;
                                             padding-bottom:10%;
                                             }
                        .parent{display:contents;
                                
                        }

                        .div1{grid-area:none!important;}
                        .div2{grid-area:none !important;}
                        .div3{grid-area:none !important;}
                        .div4{grid-area:none !important;}
                        .div5{grid-area:none !important;}
                        .div6{grid-area:none !important;}
                        .div7{grid-area:none !important;}
                        .div8{grid-area:none !important;}
                        .div9{grid-area:none !important;}
                        .div10{grid-area:none !important;}
                      
       
                        .drawing0{margin-right:55%;}
                        .description0-sezione3{
                                                margin-top:40%;
                                                margin-left:-29%;
                                                white-space:nowrap;
                                                }
                 
                        .drawing1{margin-left:-8%;
                                margin-top:47%;}
    
                        .description1-sezione3{margin-top: 83%;
                                                margin-left:-8%;
                                                white-space:nowrap;
                                               }
                
                        .drawing2{margin-top:95%;
                        margin-right:67%;}
                        .description2-sezione3{
                                                margin-top: 139%;
                                                margin-left: -22%; 
                        
                                                }
                        .drawing3{margin-left: -14%;
                                  margin-top:146%; }
                
                        .description3-sezione3{
                                                margin-top: 191%;
                                                margin-left: -20%;
                                                }
                        .drawing4{margin-top: 206%;
                                
                                margin-right:63%;}       
                        .description4-sezione3{    
                                                margin-top: 257%;
                                                margin-left: -12%;
                                                white-space:nowrap;}
                        .sub-paragraph{margin-top:12%;}
                        .sub-paragraph2{padding-left:5%;
                                        padding-right:5%;}
                         }
    
        
@media (max-width: 700px){body{overflow-x: hidden;}
                        #about{margin-left: -10%;
                               
                                 }
                        #final-dissertation{margin-top:10px;
                                             margin-left:10%;
                                            }
                        .griglia{ margin-bottom:100%;}
                       
                        .kindle {width: 300px;}
                        .smartphone {width: 500px;} 
                        .tablet  {width: 400px;}
                        .libro{width: 400px;}
                        .sinistro{float:none;
                                  margin-top:5%;
                                  margin-left: -1%;}
                        .destro{float:none;
                                margin-left: 10%;
                                margin-top:250px;}
                        .sinistro2{float:none;
                                   margin-left: 25%;
                                   margin-top:650px;}

                        .destro2{float:none;
                                margin-left: 25%;
                                margin-top:250px;
                                }
                
                        .container-2{width:400px;
                                    height:400px;
                                    line-height:100px;
                                    margin-top:40%;
                                    margin-left: -10%;}

                        .caption1{
                                margin-left:80%;
                                margin-top: -60%;
                                font-size:20px;
                                }

                        .caption2{
                                 margin-left:50%;
                                 margin-top: -60%;
                                 font-size:20px;
                                }

                        .caption3{font-size:20px;
                                margin-left:-10%;
                                margin-top:-10% ;
                                }
                        .caption4{font-size:20px;
                                margin-left:-15%;
                                margin-top: 2%;
                                }

                        .interruzione-freccia{margin:auto;
                                              margin-top:-30%;}
                        

                        .drawing0{margin-right:40%;}
                        .description0-sezione3{margin-top:45%;
                                                margin-left: -10%; 
                                                white-space:wrap; 
                                                font-size:18px;
                                              }
                        .drawing1{margin-left:10%;
                        margin-top:50%;}
                        .description1-sezione3{margin-top: 95%;
                                                margin-left: 10%;
                                                white-space:nowrap;  
                                                }
                        .drawing2{margin-top:110%;
                        margin-right:40%;}
                        .description2-sezione3{
                                                margin-top: 160%;
                                                margin-left: -4%;
                                                }

                        .drawing3{margin-top:180%;
                                margin-left:8%;}
                        .description3-sezione3{
                                                margin-top: 230%;
                                                margin-left: 2%;
                                                white-space:nowrap;}

                        .drawing4{margin-top:250%;
                                margin-right:40%;
                        }

                        .description4-sezione3{  
                                                margin-left: 5%;
                                                margin-top:310%;
                                                }
                        .sub-paragraph{margin-top:30%;}
                        }

@media (max-width: 650px){body{overflow-x: hidden;}


                        .titolo1{font-size:35px;}
                         #about{margin-left: -80%;
                                
                                 }
                        #final-dissertation{margin-top:-1%;
                                            margin-left:10%;
                                           }
                        .drawing0{
                                  margin-right:40%;}
                        .description0-sezione3{font-size:16px;
                                                 margin-left:-15%;
                                                 
                                                }
               
                        .drawing1{margin-top: 50%;
                                 margin-left:5%;}
                        .description1-sezione3{font-size:18px;
                                                margin-left:5%;
                                                 margin-top:95%;}   

                        .drawing2{margin-top:110%;
                                margin-left:-50%;}
                        .description2-sezione3{font-size:18px;
                                                margin-left:-8%;
                                                margin-top:170%;} 

                        .drawing3{margin-top:180%;
                                  margin-left:2%;}
                        .description3-sezione3{font-size:18px;
                                                margin-left:-3%;
                                                margin-top:238%;} 

                        .drawing4{margin-top:250%;
                                margin-left:7%;}
                        .description4-sezione3{font-size:18px;
                                                
                                                margin-top:310%;
                                        text-align:center;} 
               
                        .sub-paragraph2{padding-left:5%;
                                        padding-right:5%;}                         
                        }


@media (max-width: 550px){body{ overflow-x: hidden;}
                        #about{margin-left: -10%;
                                }
                
                        #final-dissertation{margin-top:-2%;
                                            margin-left:3%;}    
                        .titolo2{font-size:16px;
                                }    
                        .griglia{ margin-bottom:130%;}        
                        .kindle {width: 300px;}
                        .smartphone {width: 400px;} 
                        .tablet  {width: 400px;}
                        .libro{width: 400px;}
                        .sinistro{float:none;
                                margin-top:5%;
                                margin-left: -1%;}
                        .destro{float:none;
                                margin-left: 15%;
                                margin-top:255px;}
                        .sinistro2{float:none;
                                 margin-left: 30%;
                                 margin-top:620px;}

                        .destro2{float:none;
                                margin-left: 30%;
                                margin-top:280px;
                                }
                        .container-2{width:400px;
                                     height:400px;
                                     line-height:100px;
                                     margin-top:40%;
                                     margin-left: -10%;}

                        .caption1{
                                margin-left:80%;
                                margin-top: -50%;
                                font-size:20px;
                                }

                        .caption2{      
                                margin-left:40%;
                                margin-top: -50%;
                                font-size:20px;
                                }

                        .caption3{font-size:20px;
                                margin-left:-10%;
                                margin-top:-10% ;
                                 }
                        .caption4{font-size:20px;
                                margin-left:-10%;
                                margin-top: -10%;
                        
                                }

                        .interruzione-freccia{margin:auto;
                                              margin-top:-50%;}
                        .drawing0{margin-right:35%;}
                        .description0-sezione3{font-size:16px;
                                                margin-left:-18%;
                                                }


                        .drawing1{margin-top: 50%;
                                margin-left:6%;}
                        .description1-sezione3{font-size:16px;
                                                margin-left:10%;
                                                margin-top:98%;}   

                        .drawing2{margin-top:110%;}
                        .description2-sezione3{font-size:16px;
                                                margin-left:-5%;
                                                margin-top:162%;} 

                        .drawing3{margin-top:170%;
                                margin-left:4%;}
                        .description3-sezione3{font-size:16px;
                                                margin-left:1%;
                                                margin-top:225%;} 


                        .drawing4{margin-top:250%;
                                margin-left:-80%;}
                        .description4-sezione3{font-size:16px;
                                                margin-left:5%;
                                                margin-top:315%;} 

                        }


        
                
.parent { margin-left:20%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }




.carousel-nav-icon {
        height: 48px;
        width: 48px;
        margin-bottom:1%;
     }
    
        .col, .col-sm, .col-md {
           margin: 8px;
           height: 450px;
                max-width:100px;
           background-size: cover;
           background-position: center center;
        }
.carousel-container{margin-bottom:2%;}
     
     