@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}





.book-cover{
        width: auto;
        width: 750px;
        position: absolute;
        margin-left: 28%;
        margin-right: auto;
        padding: 0px;
        /*useful properties to maintain fixed dimensions */
      
        }

.author{font-family: BodoniFLF-BoldItalic;
        font-size: 28px;
        text-align: center;  
           
        }

.title{font-family: BodoniFLF-Bold;
        font-size: 46px;
        margin-top: -30px;  
        text-align: center;  
         
        }

.text-cover{position: absolute; 
        white-space: nowrap;
        margin-top: 345px; 
        margin-left: 19%;
        color:#D15353;
        }

.logo{position: absolute;
        margin-top:93%;   
        margin-left:-17%; 
        width:80px;
        
        }

.cover-img{ background-image: url(/img/feltrinelli.png);
         text-align:center;
        width:15cm;
        height: 21cm;}


