/*media queries for viewing the book cover from devices smaller than a computer*/
@media (width:1024px){.text-cover{margin-left: 35%;                   
}

.logo{margin-top:71%;
margin-left:-12%; 
}
}

@media (max-width: 992px){ .text-cover{margin-left: 35%;                   
    }

.logo{margin-top:74%;   
margin-left:-12%; 
}

}


