
@font-face  {font-family:  EBGaramond;
                   src: url('font/EBGaramond.ttf') format('truetype');}
               
.author{font-size:  2.5em;
        }

.title{font-size: 3.43em;
      }

.curator{margin-top:5%; 
        font-size:1.25em;
        }

.introduction{font-size:1.25em;
              margin-top:-5%;}

.specification{display:none;}


.text-cover{font-family:  EBGaramond;
            position: absolute; 
            white-space: nowrap;
            margin-top:6%;
            margin-left:25%;
            color:white;
            background-color: 90be6d;
            margin-top:0%;
            padding-right:15.3%;
            padding-left:5%;
           }

.logo{content: url(img/logo-mulino.png);
      position: absolute;
      width: 20%;
      margin-top:-7%;
      justify-content: left;
     }

.cover-img{background-image: url(img/img-mulino.png);
           background-size: 70% 60%;
           background-repeat: no-repeat;
           border: solid black;
           background-position: center 90%;
          }

/* Media Query for Tablets portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ .text-cover{padding-right:12%;}
     
                                                 } 

@media (max-width: 600px){.text-cover{padding-right:12%;}
     
                         }

                                        
 @media only screen and (min-width: 1200px) and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {.author{font-size: 2.62em;}
                                            .title{font-size: 2.5em;}                                                        
         
                                         }


 