@font-face
{font-family: BodoniFLF-BoldItalic;
        src: url('font/BodoniFLF-BoldItalic.ttf') format('truetype');}
@font-face 
{font-family: BodoniFLF-Bold;
        src: url('font/BodoniFLF-Bold.ttf') format('truetype');}





.book-cover{text-align: center;
            width: auto;
            width: 750px;
            position: absolute;
            margin-left: 20%;
            margin-right: auto;
            padding: 0px;
	/*useful properties to maintain fixed dimensions */
        }

.author{font-family: BodoniFLF-BoldItalic;
        font-size: 31px;
        text-align: center;      
        }

.title{font-family: BodoniFLF-Bold;
        font-size: 48px;
        margin-top: -39px;  
        text-align: center;    
        }

.text-cover{position: absolute; 
        white-space: nowrap;
        margin-top: 404px; 
        margin-left: 30%;
        color:#D15353;
        }

.logo{position: absolute;
        margin-top:107%;   
        margin-left:-19%; 
        width:80px;
        }

.cover-img{ text-align:center;
        width:17.5cm;
        height: 24cm;}

